<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'cdnlines.html' %}
    <title>Contact</title> 
</head>
<body>
    
    {% block b1 %}
    <center><h1>Contact Us!</h1></center>
<div class="container">
    <div class="cont1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d486.0691591689999!2d77.68585084066386!3d12.936408557850974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13de816d0387%3A0x66c2e9a852523767!2sPatel%20Law%20College!5e0!3m2!1sen!2sin!4v1717695732411!5m2!1sen!2sin" width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="cont2">
        <ul>
            <li>Address : Indiranagar, Bangalore 560038.</li>
            <li>Email : karthickrajendran.mca@gmail.com</li>
            <li>Mobile : 9043942800</li>
        </ul>
        <i class='bx bxl-linkedin'></i>
    </div>
</div>
    {% endblock b1 %}
    

</body>
</html>