<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Executive Developer - Avanze Technologies Pvt Ltd</title>
    <style>
        :root {
            --bg-color: linear-gradient(160deg, rgb(20, 33, 61), rgb(0, 0, 0));
            --second-bg-color: rgb(245, 245, 245);
            --text-color: rgb(255, 255, 255);
            --main-color: rgb(26, 58, 67);

        }

        body {
            background: var(--bg-color);
            color: var(--text-color);
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="technologies">
        <h3>Technologies Used:</h3>
        <ul>
            <li><strong>Front-end technologies:</strong> HTML, CSS, JavaScript, and frameworks like React</li>
            <li><strong>Back-end technologies:</strong> Python, Django, and databases like MySQL</li>
            <li><strong>Development frameworks:</strong> Django CMS</li>
            <li><strong>Version control:</strong> Git</li>
            <li><strong>Image editors:</strong> Adobe Photoshop</li>
            <li><strong>IDE:</strong> Visual Studio Code</li>
        </ul>
    </div>

    <h3>Responsibilities:</h3>
    <ul>
        <li>Leveraged ReactJS to create a dynamic and user-friendly client-side application experience.</li>
        <li>Implemented responsive design principles using HTML, CSS, and Bootstrap to ensure a seamless user experience across devices. Contributed to the development of a client-side application with HTML, CSS, JavaScript, and TypeScript.</li>
        <li>Used Langchain library to chain together multiple API calls, including LLMs and other services, creating complex workflows.</li>
        <li>Demonstrated proficiency in Git version control (e.g., GitHub) to collaborate effectively with senior developers and manage deployments.</li>
        <li>Developed a Python web application using Django framework to manage user accounts, product listings, and an e-commerce checkout process.</li>
        <li>Implemented user authentication and authorization functionalities using Python libraries. Optimized database queries for improved application performance.</li>
        <li>Troubleshooted and resolved bugs related to user interface elements or server-side logic.</li>
        <li>Collaborated with designers to integrate a new user interface design into an existing application.</li>
        <li>Collaborated with designers, project managers, and other developers. Wrote clean and maintainable code.</li>
        <li>Tested and debugged applications to ensure functionality and identify bugs. Stayed up-to-date with the latest technologies and trends in web development.</li>
    </ul>
</body>
</html>
