<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Member - Coforge</title>
    <style>
        :root {
            --bg-color: linear-gradient(160deg, rgb(20, 33, 61), rgb(0, 0, 0));
            --second-bg-color: rgb(245, 245, 245);
            --text-color: rgb(255, 255, 255);
            --main-color: rgb(26, 58, 67);

        }

        body {
            background: var(--bg-color);
            color: var(--text-color);
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="technologies">
        <h3>Technologies Used:</h3>
        <ul>
            <li><strong>Back end:</strong> Node.js, PostgreSQL</li>
            <li><strong>Front end:</strong> React, Redux, HTML/CSS</li>
            <li><strong>Data visualization:</strong> D3.js</li>
        </ul>
    </div>

    <h3>Responsibilities:</h3>
    <ul>
        <li>Utilized HTML, CSS, and JavaScript to create a visually appealing and interactive website front-end.</li>
        <li>Implemented clean and maintainable code for the website front-end using HTML, CSS, and JavaScript.</li>
        <li>Used Jira to plan, monitor, and oversee projects, promoting openness, teamwork, and efficient software delivery.</li>
        <li>Collaborated closely with web designers to translate design concepts into functional code.</li>
        <li>Responsible for testing the UI to identify and fix any bugs or glitches that might hinder the user experience.</li>
    </ul>
</body>
</html>
